@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue-400: hsl(218, 40%, 83%);
  --grayish-blue-500: hsl(218, 22%, 67%);

  /* Font */
  --font: "Karla", sans-serif;
  --font-md: 400;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-bold);
}

p {
  font-weight: var(--font-md);
  line-height: 1.5rem;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.cta {
  border: none;
  padding: 0.75rem;
  font-family: var(--font);
  font-size: 16px;
  font-weight: var(--font-bold);
  border-radius: 0.35rem;
  cursor: pointer;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-gray);
  padding: 5.75rem 2.25rem;
  display: grid;
  place-content: center;
}

.grid {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}

.grid__1,
.grid__2,
.grid__3 {
  padding: 1.75rem;
}

.grid__1 {
  background-color: #fff;
}
.grid__1 h2 {
  color: var(--cyan);
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
.grid__1 h3 {
  color: var(--bright-yellow);
  margin-bottom: 1.25rem;
}
.grid__1 p {
    color: var(--grayish-blue-500);
    
}

.grid__2 {
  background-color: var(--cyan);
}
.grid__2 h3 {
    color: #fff;
    margin-bottom: 1.25rem;
}
.grid__2-price {
  color: #fff;
  font-size: 2rem;
  font-weight: var(--font-bold);
  margin-bottom: 0.75rem;
}
.grid__2-price-dur {
  font-size: 16px;
  font-weight: var(--font-md);
  color: var(--grayish-blue-400);
}
.grid__2 p {
  color: var(--light-gray);
  margin-bottom: 1.5rem;
}
.grid__2 .cta {
  width: 100%;
  background-color: var(--bright-yellow);
  color: #fff;
  box-shadow: 0 2px 12px hsla(220, 9%, 13%, 0.227);
}
.grid__2 .cta:active {
  box-shadow: none;
}

.grid__3 {
  background-color: hsla(179, 62%, 43%, 0.767);
}
.grid__3 h3 {
  color: #fff;
  margin-bottom: 1.25rem;
}
.grid__3-lists li {
    color: var(--light-gray);
}


/* Footer */
.footer {
    text-align: center;
    background-color: var(--light-gray);
    padding: 0.75rem;
    color: var(--grayish-blue-500);
}

.footer .attribution a {
    color: hsl(179, 63%, 36%);
    text-underline-offset: 4px;
    margin: 0 0.10rem;
    font-weight: var(--font-bold);
}
/* Footer End*/



@media screen and (min-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__1 {
        grid-column: 1 / -1;
    }
}